<footer class="notepad-site-footer" >
    <div class="copyright">
        <section>All content copyright <a href="{% url 'blog:about' %}">PyLadies DF</a> &copy; 2018 &bull; All rights reserved.</section>
    </div>
    <div class="social-icons">

        <a href="http://twitter.com/PyLadiesDF" data-toggle="tooltip" title="Twitter">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-twitter fa-stack-1x"></i>
            </span>
        </a>
        <a href="http://github.com/pyladiesdf" data-toggle="tooltip" title="Github">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-github fa-stack-1x"></i>
            </span>
        </a>
        <a href="http://facebook.com/pyladiesdf" data-toggle="tooltip" title="Facebook">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-facebook fa-stack-1x"></i>
            </span>
        </a>
        <a href="https://www.instagram.com/pyladiesdf/" data-toggle="tooltip" title="Instagram">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-instagram fa-stack-1x"></i>
            </span>
        </a>
    </div>
    <div class="cf"></div>
</footer>
